// variables generales del sitio

$colorFooter:rgb(143, 97, 135);
$colorH:#661e1e;
$colorA: whitesmoke;
$colorAHover:palevioletred;
$colorGris:grey;
$colorBlanco:white;
$colorBoton:#9e5981;
$colorBotonHover:#a7639b;
$colorLinkActive:blueviolet;
$colorPrincipal:rgb(143, 97, 135);
$colorBorde: dimgrey;

$imgFondo:'../assets/img/fondo.webp';