/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*******COMPONENTE - FOOTER *******/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.contenedor-footer{
    background-color: map-get($colores, colorPrincipal);
    h4{
        color: map-get($colores, colorBlanco);
        font-size: $sizeSmall;
    }    
}

.footer-lista-menu {
    li{
        font-size: $sizeXSmall;
    }
}

/*******************************/
/*MOBILE*/

@media only screen and (max-width: 768px)
{

    /*footer*/

    .lista-menu li {
        font-size: 1.5rem;
        padding: 5px;
    }

}

/**********************/



