/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/******COMPONENTE - NAV - BOOTSTRAP **********/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

nav { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.nav-link {
    text-decoration: none;
    color: map-get($colores, colorA);
    font-size: 1.5rem;
    &:hover {
        text-decoration: none;
        color: map-get($colores, colorAHover);
    }    
}

.nav-pills {
    .nav-link.active{
    background-color:map-get($colores, colorLinkActive);    
    }
}

.navbar-dark {
    .navbar-toggler{
        color: map-get($colores, colorPrincipal);
        border-color: map-get($colores, colorBorde);
    }
}

.navbar-collapse{justify-content: center;}


