/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*COMPONENTE - SECCIONES (SE USA LA MISMA EN PAGE 'SERVICIOS' Y PAGE 'QUIENES SOMOS'*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.contenedor-seccion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10rem;
    width: 95%;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.50);
    font-size: $sizeDefault;
    margin:0 auto;
    margin-bottom: 60px;
    margin-top: 30px;
    p{
        font-size: $sizeSmall;
        text-align: justify;
        padding-top: 2rem;
    }    
}

@mixin mixSeccion ($width, $direction)
{
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: $direction;
}

.seccion-imagen{
    @include mixSeccion(30%, 'row');
}

.seccion-texto{
    @include mixSeccion(60%, 'column');
    padding: 1rem;
    p{
        font-size: $sizeSmall;
        text-align: justify;
        padding-top: 2rem;
    }      
}

.seccion-img{
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.50);
    width: 95%;
    margin: 1rem;
}

.contenedor-seccion.seccion-texto {
    margin-left: 10px;
    margin-bottom: 10rem;
    background-color: transparent;
    width: 95%;
    border-radius: none;
    box-shadow: none;
    font-size: $sizeDefault;
}

/*****CARD - BOOTSTRAP*****/
.card{background-color: none;}

/*******************************/
/*MOBILE*/

@media only screen and (max-width: 768px)
{

    /*componente seccion */
    .contenedor-seccion{
        flex-direction: column;
    }
    .seccion-imagen, .seccion-texto {
        width: 100%;
    }

}

/************************************/

