/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/********** GENERAL ************/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body {
    background-image: url($imgFondo);
    margin: 0;
    font-family: $font;
    font-size: $sizeDefault;
}

.texto {
    text-shadow: 2px 2px 8px map-get($colores, colorH);
    margin-top: 4rem;
    margin-bottom: 4rem;        
}

h1 {
    @extend .texto;
    font-size: $sizeLarge;  
}

h3 {
    @extend .texto;
    font-size: $sizeMedium;
}

p{
    font-size: $sizeSmall;
    text-align: justify;
    padding-top: 2rem;
}


a {
    text-decoration: none;
    color: map-get($colores, colorA);
    &:hover{
        text-decoration: none;
        color: map-get($colores, colorAHover);
    }
}


.row>*{
    padding: 0px;
    margin:0px
}

.w-90{
    width: 90%;
}

.bg-blanco{
    background-color: map-get($colores, colorBlanco);
}

/*******************************/
/*MOBILE*/

@media only screen and (max-width: 768px)
{

    .oculta{
        display: none;
    }

    
    h1 {
        font-size: $mobileSizeLarge;
    }
    
    h3 {
        
        font-size: $mobileSizeMedium;
    }
    
    p{
        font-size: $mobileSizeSmall;
    }

}

/*******************************/


